<div id="output"></div>

<script>
async function getData() {
  const url = "http://localhost:3000/foo?date=2024-10-14&amp;location=Saint+%26+Rogue&amp;pay_group_id=190301&_=1729482428087"
  try {
    const response = await fetch(url);
    if (!response.ok) {
      throw new Error(`Response status: ${response.status}`);
    }

    const text = await response.text();
    document.getElementById("output").innerText = text
  } catch (error) {
    console.error(error.message);
  }
}

getData()
</script>
